footer{
    background-color: $color-footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 3%;
    height: 8rem;
}

.logo{
    width: 4%;
    height: 60%;
}

.redes{
    display: flex;
    gap:10%;
    width: 10%;
    a{
        text-decoration: none;
        color: black;
        :hover{
            text-decoration: underline;
            color: whitesmoke;
        }
    }

    i{
        font-size: 3.2rem;
    }
}

.nav{
    ul{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        
        li{
            font-size: 1.5rem;
            :hover{
                color:rgb(255, 250, 250);
                text-decoration: underline;
            }


            a{
                text-decoration: none;
                color: $color-letra;
                font-weight: bold;
            }
        }
    }
}